:root {
    --color-black: #090b0d;
    --color-ice: #dce8f2;
    --color-blue: #8AC9CC;
    --color-darkgreen: #227364;
    --color-lightgreen: #41f2c0;
    --fonte-texto: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --fonte-título: Pokemon Hollow;
}

CSS
@font-face {
  font-family: 'Pokemon Hollow';
  src: url('Pokemon Hollow.ttf') format('truetype');
}

header {
    background-color: var(--color-darkgreen);
    margin: 0px;
    margin-bottom: 3px;
    height: 80px;
    padding: 0px;
    display: flex;
    justify-content:space-around;
    align-items: center;

}

div#txtheader {
    padding-left: 25%;
    margin-bottom: 4%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: var(--color-ice);
    font-family: var(--fonte-título);
    line-height: 30px;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1#who {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-ice);
}

h1#mbl {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-lightgreen);
}

body {
    margin: 0px;
    background-color: var(--color-ice);
}

div.imagem {
    height: 400px;
    display: flex;
    justify-content: center;
    margin: 15px;
}

img#pessoa {
    position: inherit;
    height: 400px;
}

div.procurar {
    display: flex;
    justify-content: center;
}

div.search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    width: 200px;
    flex-wrap: wrap;
}

input {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    background-color: var(--color-ice);
    border: 2px solid var(--color-darkgreen);
    border-radius: 5px;
    padding: 5px;
    margin: 0px;
    width: 200px;
    color: var(--color-black);
    font-family: var(--fonte-texto);
    font-size: 11pt;
    text-align: center;
}

::selection {
    background-color: var(--color-lightgreen);
}

div.list li {
    display: flex;
    justify-content: center;
    padding: 5px;
    width: 190px;
    color: var(--color-ice);
    background-color: var(--color-blue);
    border: 1px solid var(--color-ice);
    border-radius: 5px;
    font-family:var(--fonte-texto);
}

div.list li:hover {
    background-color: var(--color-darkgreen);
}


section.output {
    display: flex;
    justify-content: center;
    margin: 15px;
}


div#outimg {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
    width: 400px;
}

div#outimg img {
    width: 55px;
    border-radius: 50%;
    
}

div#outtxt {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
    width: 400px;
}

div#outtxt p {
    width: 50px;
    display: flex;
    justify-content: center;
    font-family: var(--fonte-texto);
}

footer {
    background-color: var(--color-darkgreen);
    display: flex;
    align-items: end;
    justify-content: center;
    color: var(--color-ice);
    font-family:var(--fonte-texto);
    font-size: 18pt;
    font-style: italic;
    padding: 10px;
}