:root {
    --color-black: #090b0d;
    --color-ice: #dce8f2;
    --color-blue: #8AC9CC;
    --color-darkgreen: #227364;
    --color-lightgreen: #41f2c0;
}

CSS
@font-face {
  font-family: 'Pokemon Hollow';
  src: url('Pokemon Hollow.ttf') format('truetype');
}

header {
    background-color: var(--color-darkgreen);
    margin: 0px;
    margin-bottom: 3px;
    height: 80px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;

}

div#txtheader {
    padding: 0px;
    margin-bottom: 4%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: var(--color-ice);
    font-family: Pokemon Hollow;
    line-height: 30px;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1#who {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-ice);
}

h1#mbl {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-lightgreen);
}

body {
    margin: 0px;
    background-color: var(--color-ice);
}

div.imagem {
    height: 400px;
    display: flex;
    justify-content: center;
    margin: 15px;
}

img#pessoa {
    position: inherit;
    height: 400px;
}

div.search-box {
    display: flex;
    justify-content: center;
    margin: 30px;
}

input {
    background-color: var(--color-ice);
    border-color: #227364;
    border-radius: 5px;

}

section.output {
    display: flex;
    justify-content: center;
    margin: 15px;
}


div#outimg {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
    width: 400px;
}

div#outimg img {
    width: 50px;
    border-radius: 50%;
    
}

div#outtxt {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
    width: 400px;
}

div#outtxt p {
    width: 50px;
    display: flex;
    justify-content: center;
}


footer {
    background-color: var(--color-darkgreen);
    display: flex;
    align-items: end;
    justify-content: center;
    color: var(--color-ice);
    font-size: 18pt;
    font-style: italic;
    padding: 10px;

    }